<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmdf2.tappxi"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SearchDestinationsActivity"
            android:label="@string/title_activity_search_destinations" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.maps.MapActivity" />
        </activity>
        <activity
            android:name=".TaxiOffersActivity"
            android:label="@string/title_activity_taxi_offers" >
        </activity>
        <activity
            android:name=".CountdownTimerActivity"
            android:label="@string/title_activity_countdown_timer" >
        </activity>
        <activity
            android:name=".PayActivity"
            android:label="@string/title_activity_pay" >
        </activity>
        <activity
            android:name=".StandActivity"
            android:label="@string/title_activity_stand" >
        </activity>
    </application>

</manifest>