
{% extends "::base.html.twig" %}

{% block body %}
    <h1>Welcome to API</h1>

    <code>
    POST http://localhost/tappxi/web/app_dev.php/api/taxi/request
token=1a8e9df2c2945213a3f4dabb46d19792&start_address_street=Floripondio&start_address_settlement=Centro&start_address_city=Izcalli&start_address_state=Mexico&start_address_zip_code=54766&start_address_latitude=22.45&start_address_longitude=23.56&end_address_street=Floripondio&end_address_settlement=Centro&end_address_city=Izcalli&end_address_state=Mexico&end_address_zip_code=54766&end_address_latitude=22.45&end_address_longitude=23.56
    </code>


{% endblock %}


